body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  height: 400px;
  /*width:900px;*/
  width: 80%;
  margin:0 auto;
  border-width:8px;
  border-style:solid;
  border-bottom-color:#BBC2E2;
  border-right-color:#BBC2E2;
  border-top-color:#BBC2E2;
  border-left-color:#BBC2E2;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.mapContainer {
  background-color: #998DA0;
}

#header {
  height: 100px;
  background-color: #2B2D42;
}
#secondHeader {
  height: 10px;
  background-color: #F7B801;

}
.marker {
background-color: white;
height: 20px;
width: 20px;
}

h1{
  font-family: 'Orbitron', sans-serif;
  font-size:56px;
  color:white;
  padding: 20px;
  margin: 0 !important;
}

form {
  width: 80%;
  text-align: center;
  padding-top: 50px;
  margin: 0 auto;
}
input[type=search] {
  width: 30%;
}
.fa{
  color:red;
}

h3, p {
  color: white;
  text-align: center;
}

