body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 50%;
  margin: 0;
}

a {
  color: #00B7FF;
}

html, body {
  height: 100%;

}
#map {
  height: 400px;
}

.marker {
background-color: white;
height: 20px;
width: 20px;
}

